In [70]:
import pandas as pd
import category_encoders as ce

count_enc = ce.CountEncoder(normalize=True)

In [71]:
from src.data.build_features3 import _onehot_encode_features, _frequency_encode_features

### Counting numbers of frequency

In [72]:
group_df = pd.read_pickle ('scripts/tmp_selected_group_features.pkl')
technique_df = pd.read_pickle ('scripts/tmp_selected_technique_features.pkl')

In [73]:
technique_software_df = pd.read_csv('data/interim/collected_techniques_software_df.csv')
group_software_df = pd.read_csv('data/interim/collected_groups_software_df.csv')

In [74]:
freq_enc_group_df = pd.read_pickle ('scripts/tmp_freq_enc_group_features.pkl')
freq_enc_technique_df = pd.read_pickle ('scripts/tmp_freq_enc_technique_features.pkl')

In [75]:
freq_enc_group_df

,group_ID,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,12.0,13.0,14.0,21.0,27.0,29.0,41.0
0,G0099,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,G0006,1.0,0.0,0.0,0.0,5.0,6.0,0.0,0.0,9.0,0.0,12.0,13.0,0.0,0.0,27.0,29.0,41.0
2,G0005,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,G0023,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,G0025,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,G0044,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0
132,G0102,1.0,2.0,3.0,4.0,0.0,6.0,0.0,0.0,0.0,10.0,0.0,0.0,14.0,21.0,27.0,29.0,41.0
133,G0128,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
134,G0018,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,9.0,0.0,12.0,13.0,0.0,0.0,27.0,0.0,0.0
135,G0045,1.0,2.0,0.0,0.0,5.0,6.0,7.0,0.0,9.0,10.0,12.0,13.0,0.0,21.0,27.0,29.0,41.0

In [76]:
freq_enc_technique_df

,technique_ID,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,41.0,42.0,44.0,45.0,46.0,47.0,51.0,53.0,71.0,72.0
0,T1548,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,T1548.002,1.0,0.0,0.0,4.0,5.0,0.0,0.0,0.0,9.0,...,0.0,42.0,0.0,0.0,0.0,47.0,0.0,0.0,0.0,72.0
2,T1548.004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,T1548.001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,T1548.003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,T1102.002,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,0.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72.0
603,T1102.001,0.0,0.0,0.0,0.0,0.0,0.0,7.0,8.0,9.0,...,0.0,42.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0
604,T1102.003,0.0,0.0,0.0,0.0,5.0,0.0,7.0,0.0,0.0,...,0.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0
605,T1047,0.0,0.0,3.0,0.0,0.0,6.0,7.0,8.0,9.0,...,0.0,0.0,44.0,0.0,0.0,47.0,51.0,0.0,71.0,72.0
606,T1220,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

`build_features_freq_encode` function

In [77]:
from src.data.build_features3 import build_features_freq_encode

In [78]:
group_df = pd.read_pickle ('scripts/tmp_selected_group_features.pkl')
technique_df = pd.read_pickle ('scripts/tmp_selected_technique_features.pkl')
res_t, res_g = build_features_freq_encode(technique_features_df= technique_df, technique_feature_names=['software_ID'], 
                                          group_features_df= group_df, group_features_names=['software_ID'], save_as_csv= False)

--runing src.data.build_features3

In [79]:
res_g

,group_ID,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,12.0,13.0,14.0,21.0,27.0,29.0,41.0
0,G0099,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,G0006,1.0,0.0,0.0,0.0,5.0,6.0,0.0,0.0,9.0,0.0,12.0,13.0,0.0,0.0,27.0,29.0,41.0
2,G0005,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,G0023,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,G0025,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,G0044,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0
132,G0102,1.0,2.0,3.0,4.0,0.0,6.0,0.0,0.0,0.0,10.0,0.0,0.0,14.0,21.0,27.0,29.0,41.0
133,G0128,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
134,G0018,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,9.0,0.0,12.0,13.0,0.0,0.0,27.0,0.0,0.0
135,G0045,1.0,2.0,0.0,0.0,5.0,6.0,7.0,0.0,9.0,10.0,12.0,13.0,0.0,21.0,27.0,29.0,41.0

In [80]:
res_t

,technique_ID,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,41.0,42.0,44.0,45.0,46.0,47.0,51.0,53.0,71.0,72.0
0,T1548,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,T1548.002,1.0,0.0,0.0,4.0,5.0,0.0,0.0,0.0,9.0,...,0.0,42.0,0.0,0.0,0.0,47.0,0.0,0.0,0.0,72.0
2,T1548.004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,T1548.001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,T1548.003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,T1102.002,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,0.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72.0
603,T1102.001,0.0,0.0,0.0,0.0,0.0,0.0,7.0,8.0,9.0,...,0.0,42.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0
604,T1102.003,0.0,0.0,0.0,0.0,5.0,0.0,7.0,0.0,0.0,...,0.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0
605,T1047,0.0,0.0,3.0,0.0,0.0,6.0,7.0,8.0,9.0,...,0.0,0.0,44.0,0.0,0.0,47.0,51.0,0.0,71.0,72.0
606,T1220,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
import category_encoders as ce

count_enc = ce.CountEncoder(normalize=False)
df = technique_df
feature_name = 'software_ID'
id = 'technique_ID'
id_col = df[[id]]
feature_single_valued = df[[feature_name]].explode(feature_name)
freq_enc = ce.CountEncoder(normalize=False, handle_missing= 'return_nan') #❗return nan
feature_freq_encoded = freq_enc.fit_transform (feature_single_valued[feature_name], return_df = True)
feature_freq_encoded_oh = pd.get_dummies(feature_freq_encoded[feature_name], dtype= float)
feature_freq_encoded_oh = feature_freq_encoded_oh.groupby(level=0).max()
feature_freq_encoded_oh_true_val = feature_freq_encoded_oh.multiply(feature_freq_encoded_oh.columns, axis= 1)

In [82]:
feature_freq_encoded_oh_true_val

,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,41.0,42.0,44.0,45.0,46.0,47.0,51.0,53.0,71.0,72.0
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,4.0,5.0,0.0,0.0,0.0,9.0,0.0,...,0.0,42.0,0.0,0.0,0.0,47.0,0.0,0.0,0.0,72.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,0.0,...,0.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72.0
603,0.0,0.0,0.0,0.0,0.0,0.0,7.0,8.0,9.0,10.0,...,0.0,42.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0
604,0.0,0.0,0.0,0.0,5.0,0.0,7.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0
605,0.0,0.0,3.0,0.0,0.0,6.0,7.0,8.0,9.0,0.0,...,0.0,0.0,44.0,0.0,0.0,47.0,51.0,0.0,71.0,72.0
606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [83]:
feature_single_valued = df[[feature_name]].explode(feature_name)
feature_single_valued

    software_ID
0           NaN
1         s0584
1         s0129
1         s0640
1         s0606
..          ...
605       s0476
605       s0366
605       s0251
605       s0283
606       s0373

[8607 rows x 1 columns]