In [1]:
import pandas as pd
import category_encoders as ce

count_enc = ce.CountEncoder(normalize=True)

In [2]:
from src.data.build_features3 import _onehot_encode_features

In [3]:
df = pd.read_pickle ('scripts/tmp_technique_features.pkl')

In [4]:
df

,technique_ID,tactics,mitigation_ID
0,T1548,"[defense evasion, privilege escalation]","[m1047, m1038, m1028, m1026, m1022, m1052]"
1,T1548.002,"[defense evasion, privilege escalation]","[m1047, m1026, m1051, m1052]"
2,T1548.004,"[defense evasion, privilege escalation]",[m1038]
3,T1548.001,"[defense evasion, privilege escalation]",[m1028]
4,T1548.003,"[defense evasion, privilege escalation]","[m1028, m1026, m1022]"
...,...,...,...
602,T1102.002,[command and control],"[m1031, m1021]"
603,T1102.001,[command and control],"[m1031, m1021]"
604,T1102.003,[command and control],"[m1031, m1021]"
605,T1047,[execution],"[m1040, m1038, m1026, m1018]"
606,T1220,[defense evasion],[m1038]

In [5]:
res_df = _onehot_encode_features(df, id = 'technique_ID', feature_names=['mitigation_ID', 'tactics'])

In [6]:
res_df

,technique_ID,m1013,m1015,m1016,m1017,m1018,m1019,m1020,m1021,m1022,...,discovery,execution,exfiltration,impact,initial access,lateral movement,persistence,privilege escalation,reconnaissance,resource development
0,T1548,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,T1548.002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,T1548.004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,T1548.001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,T1548.003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,T1102.002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
603,T1102.001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
604,T1102.003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
605,T1047,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
606,T1220,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
res_df.to_csv('res_df.csv')

In [8]:
df

,technique_ID,tactics,mitigation_ID
0,T1548,"[defense evasion, privilege escalation]","[m1047, m1038, m1028, m1026, m1022, m1052]"
1,T1548.002,"[defense evasion, privilege escalation]","[m1047, m1026, m1051, m1052]"
2,T1548.004,"[defense evasion, privilege escalation]",[m1038]
3,T1548.001,"[defense evasion, privilege escalation]",[m1028]
4,T1548.003,"[defense evasion, privilege escalation]","[m1028, m1026, m1022]"
...,...,...,...
602,T1102.002,[command and control],"[m1031, m1021]"
603,T1102.001,[command and control],"[m1031, m1021]"
604,T1102.003,[command and control],"[m1031, m1021]"
605,T1047,[execution],"[m1040, m1038, m1026, m1018]"
606,T1220,[defense evasion],[m1038]

In [9]:
from src.data.build_features3 import _frequency_encode_features

In [10]:
res_df = _frequency_encode_features (df, id = 'technique_ID', feature_names= ['tactics'])

In [12]:
res_df.to_csv('res_df.csv')