In [42]:
import pandas as pd
import category_encoders as ce

count_enc = ce.CountEncoder(normalize=True)

In [43]:
from src.data.build_features2 import _frequency_encode_features

In [44]:
df = pd.read_csv('data/interim/X_technique_selected_features.csv')

In [45]:
df

      technique_ID                                tactics mitigation_ID
0            T1548  Defense Evasion, Privilege Escalation         M1047
1            T1548  Defense Evasion, Privilege Escalation         M1047
2            T1548  Defense Evasion, Privilege Escalation         M1047
3            T1548  Defense Evasion, Privilege Escalation         M1047
4            T1548  Defense Evasion, Privilege Escalation         M1047
...            ...                                    ...           ...
63029        T1047                              Execution         M1018
63030        T1047                              Execution         M1018
63031        T1047                              Execution         M1018
63032        T1220                        Defense Evasion         M1038
63033        T1220                        Defense Evasion         M1038

[63034 rows x 3 columns]

In [46]:
# feature_name = 'platforms'
# feature = df[feature_name].str.replace(r',\s*',',', regex = True)
# feature = feature.str.lower()
# feature = feature.str.replace (r'[-/]', ' ', regex = True)

In [47]:
# feature

In [48]:
# feature = feature.str.split(',')
# feature = feature.explode(ignore_index=False)

In [49]:
# feature

In [50]:
# feature_freq_encoded = count_enc.fit_transform(feature, return_df = True)
# feature_freq_encoded_oh = pd.get_dummies (feature_freq_encoded[feature_name], dtype = float)
# feature_freq_encoded_oh = feature_freq_encoded_oh.groupby(level=0).max()
# freq_encoded_one_hot_true_val = feature_freq_encoded_oh.multiply(feature_freq_encoded_oh.columns, axis= 1)

In [51]:
# freq_encoded_one_hot_true_val

In [52]:
# res = _frequency_encode_features(df, ID = 'technique_ID', feature_names=['platforms'])

In [53]:
# res.to_csv('tmp_res.csv')

In [54]:
# res

### testing cases when not all features are selected for one-hot encoding

In [55]:

df = pd.read_csv('data/interim/X_technique_selected_features.csv')

In [38]:
df

      technique_ID                                tactics mitigation_ID
0            T1548  Defense Evasion, Privilege Escalation         M1047
1            T1548  Defense Evasion, Privilege Escalation         M1047
2            T1548  Defense Evasion, Privilege Escalation         M1047
3            T1548  Defense Evasion, Privilege Escalation         M1047
4            T1548  Defense Evasion, Privilege Escalation         M1047
...            ...                                    ...           ...
63029        T1047                              Execution         M1018
63030        T1047                              Execution         M1018
63031        T1047                              Execution         M1018
63032        T1220                        Defense Evasion         M1038
63033        T1220                        Defense Evasion         M1038

[63034 rows x 3 columns]

In [56]:
df['mitigation_ID'].nunique()

43

In [57]:
from src.data.build_features2 import _onehot_encode_features

In [58]:
res = _onehot_encode_features (df, ID = 'technique_ID', feature_names=['tactics'])

In [59]:
res['mitigation_ID'].nunique()

40