In [1]:
import pandas as pd
import category_encoders as ce

count_enc = ce.CountEncoder(normalize=True)

In [2]:
from src.data.build_features3 import _onehot_encode_features

In [3]:
group_df = pd.read_pickle ('scripts/tmp_group_features.pkl')
technique_df = pd.read_pickle ('scripts/tmp_technique_features.pkl')

In [12]:
def safe_len(lst):
    if isinstance(lst, list):
        return len(lst)
    else:
        return 0

group_df['software_ID'].apply(safe_len).max()

46

In [13]:
group_freq_encode = pd.read_csv('data/interim/X_group_freq_encode.csv')

In [14]:
group_freq_encode

    group_ID    1    3    12
0      G0099  1.0  0.0   0.0
1      G0006  1.0  0.0   0.0
2      G0005  1.0  0.0   0.0
3      G0023  1.0  0.0   0.0
4      G0025  1.0  0.0   0.0
..       ...  ...  ...   ...
131    G0044  1.0  0.0   0.0
132    G0102  1.0  0.0   0.0
133    G0128  0.0  0.0  12.0
134    G0018  1.0  0.0   0.0
135    G0045  1.0  0.0   0.0

[136 rows x 4 columns]

In [ ]:
feature_name = 'mitigation_ID'

In [ ]:
df_x_explode = df_x.explode (feature_name)

In [ ]:
he = ce.HashingEncoder(cols=feature_name,n_components=10, return_df= True)
res = he.fit_transform (df_x_explode [feature_name])

In [ ]:
res_grouped = res.groupby(level=0).max()

In [ ]:
res_grouped

     col_0  col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
0        1      1      1      0      1      0      1      0      0      0
1        0      1      1      0      0      0      0      0      0      1
2        0      0      0      0      0      0      1      0      0      0
3        1      0      0      0      0      0      0      0      0      0
4        1      0      1      0      1      0      0      0      0      0
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
602      0      0      0      0      0      1      0      0      0      1
603      0      0      0      0      0      1      0      0      0      1
604      0      0      0      0      0      1      0      0      0      1
605      1      0      1      0      0      1      1      0      0      0
606      0      0      0      0      0      0      1      0      0      0

[607 rows x 10 columns]

In [ ]:
mitigations = df_x_explode['mitigation_ID']

In [ ]:
mitigations.unique()

array(['m1047', 'm1038', 'm1028', 'm1026', 'm1022', 'm1052', 'm1051',
       'm1018', nan, 'm1015', 'm1032', 'm1030', 'm1042', 'm1056', 'm1041',
       'm1037', 'm1035', 'm1031', 'm1017', 'm1029', 'm1025', 'm1049',
       'm1043', 'm1044', 'm1024', 'm1033', 'm1036', 'm1027', 'm1040',
       'm1045', 'm1021', 'm1054', 'm1053', 'm1057', 'm1048', 'm1050',
       'm1020', 'm1055', 'm1034', 'm1016', 'm1019', 'm1046', 'm1013',
       'm1039'], dtype=object)

In [ ]:
he = ce.HashingEncoder(n_components=7, return_df= True)
res = he.fit_transform (mitigations.unique())

In [ ]:
import pandas as pd
import category_encoders as ce

# Create a sample dataframe
data = {
    'User': ['User1', 'User2', 'User3'],
    'Hobbies': [['Soccer', 'Swimming', 'Hiking'],
                ['Swimming', 'Cycling'],
                ['Soccer', 'Hiking']]
}
df = pd.DataFrame(data)
df_oh = pd.get_dummies (df.explode ('Hobbies'), columns= ['Hobbies'], dtype= float)

In [ ]:
df_oh = df_oh.groupby (level=0).max()
# Split the list of hobbies into separate columns using one-hot encoding

In [ ]:
df_oh

    User  Hobbies_Cycling  Hobbies_Hiking  Hobbies_Soccer  Hobbies_Swimming
0  User1              0.0             1.0             1.0               1.0
1  User2              1.0             0.0             0.0               1.0
2  User3              0.0             1.0             1.0               0.0

In [ ]:

# Create an instance of Hashing Encoder with 4 dimensions
encoder = ce.HashingEncoder(n_components=2)

# Apply Hashing Encoder to the newly created columns
encoded_data = encoder.fit_transform(df_oh)

# Handle collisions if necessary
# Perform modeling and analysis with the encoded data

In [ ]:
df

    User                     Hobbies  col_0  col_1  col_2  col_3
0  User1  [Soccer, Swimming, Hiking]      0      1      0      0
1  User2         [Swimming, Cycling]      1      0      0      0
2  User3            [Soccer, Hiking]      0      0      1      0