In [1]:
import pandas as pd

In [2]:
group_df = pd.read_pickle ('scripts/tmp_selected_group_features.pkl')

In [4]:
group_df_e = group_df.explode('software_ID')

    group_ID software_ID
0      G0099       s0434
1      G0006       s0017
1      G0006       s0025
1      G0006       s0119
1      G0006       s0026
..       ...         ...
135    G0045       s0275
135    G0045       s0160
135    G0045       s0106
135    G0045       s0404
135    G0045       s0006

[842 rows x 2 columns]