In [1]:
import pandas as pd
import sys
sys.path.append("..")

In [2]:
target_df = pd.read_csv('../data/interim/split_by_group_train_df.csv')

In [3]:
feature_df = pd.read_csv ('../data/interim/cleaned_group_features_df.csv')

In [4]:
from src.data.aligning import align_data

align_data (feature_df= feature_df, target_df= target_df, object= 'group')

Finished: files saved to c:\Users\vuchi\GT24\hieuchivu-gt24-repo2\data/interim
	splitted_group_features.csv

       group_ID software_ID
0         G0099       S0434
1         G0099       S0434
2         G0099       S0434
3         G0099       S0434
4         G0099       S0434
...         ...         ...
345985    G0018       S0039
345986    G0018       S0012
345987    G0018       S0096
345988    G0018       S0100
345989    G0018       S0104

[345990 rows x 2 columns]