In [3]:
import sys
sys.path.append("..")
from src.data.balancing import naive_random_oversampling

In [4]:
naive_random_oversampling()

Finished: files saved to c:\Users\vuchi\GT24\hieuchivu-gt24-repo2\data/interim
	naive_random_oversampled_interaction_matrix.csv

       group_ID technique_ID  target
0         G0099        T1548     0.0
1         G0099    T1548.002     0.0
2         G0099    T1548.004     0.0
3         G0099    T1548.001     0.0
4         G0099    T1548.003     0.0
...         ...          ...     ...
158995    G0022    T1543.003     1.0
158996    G1001    T1204.002     1.0
158997    G0022        T1104     1.0
158998    G0007        T1039     1.0
158999    G0094    T1021.001     1.0

[159000 rows x 3 columns]