last update: 2023-09-26

In [1]:
import pandas as pd

In [2]:
train_y_df = pd.read_csv ('../data/processed/model1/train_y_split.csv')
# train_cv_y_df = pd.read_csv ('../data/processed/model1/train_cv_y_oversampled.csv')
cv_y_df = pd.read_csv ('../data/processed/model1/cv_y_split.csv')
test_y_df = pd.read_csv ('../data/processed/model1/test_y_split.csv')

test_X_group_df = pd.read_csv ('../data/processed/model1/test_X_group_aligned.csv')
test_X_technique_df = pd.read_csv ('../data/processed/model1/test_X_technique_aligned.csv')

### 1- Check the tables' shapes, number of groups and number of each labels

In [3]:
summ
for df in [train_y_df, cv_y_df, test_y_df]:
    print (df.shape, 'no. of groups: {n}'.format(n =  df['group_ID'].nunique()))
    print (df['label'].value_counts())

(36860, 3) no. of groups: 95
label
0.0    34687
1.0     2173
Name: count, dtype: int64
(7760, 3) no. of groups: 20
label
0.0    7468
1.0     292
Name: count, dtype: int64
(8148, 3) no. of groups: 21
label
0.0    7561
1.0     587
Name: count, dtype: int64

In [4]:
print (test_X_group_df.shape)
print (test_X_technique_df.shape)

(8148, 18)
(8148, 50)

### 2- Check if there is any data of the same group that is shared between tables.

In [19]:
# similar_groups = train_y_df['group_ID'].isin(train_cv_y_df['group_ID'])
# if similar_groups.any():
#     print (similar_groups)

# similar_groups = train_cv_y_df['group_ID'].isin(cv_y_df['group_ID'])
# if similar_groups.any():
#     print (similar_groups)
    
# similar_groups = train_cv_y_df['group_ID'].isin(cv_y_df['group_ID'])
# if similar_groups.any():
#     print (similar_groups)

# similar_groups = cv_y_df['group_ID'].isin(test_y_df['group_ID'])
# if similar_groups.any():
#     print (similar_groups)

In [5]:
similar_groups = train_y_df['group_ID'].isin(cv_y_df['group_ID'])
if similar_groups.any():
    print (similar_groups)



similar_groups = cv_y_df['group_ID'].isin(test_y_df['group_ID'])
if similar_groups.any():
    print (similar_groups)

# 3- Check if unused Techniques are in interaction matrix

There are *388* Techniques that are used by at least one Group

In [21]:
t_Ids = pd.read_csv ('../data/interim/X_technique_onehot.csv')

In [22]:
t_Ids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Columns: 838 entries, technique_ID to S1073
dtypes: float64(783), int64(54), object(1)
memory usage: 3.9+ MB

In [23]:
y_cleaned = pd.read_csv('../data/interim/y_cleaned.csv')

In [24]:
y_cleaned['technique_ID'].nunique()

388

In [25]:
y_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52768 entries, 0 to 52767
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   group_ID      52768 non-null  object
 1   technique_ID  52768 non-null  object
 2   label         52768 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.2+ MB