In [99]:
import pandas as pd

# Frequency Encoding

In [100]:
import category_encoders as ce

In [101]:
df = pd.read_csv('../data/interim/X_group_cleaned.csv')

In [102]:
df.info()
constant_cols = df['group_ID']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   group_ID     842 non-null    object
 1   software_ID  830 non-null    object
dtypes: object(2)
memory usage: 13.3+ KB

In [103]:
count_enc = ce.CountEncoder(normalize=True)
count_encoded = count_enc.fit_transform(df['software_ID'], return_df = True)
count_encoded.to_csv ('tmp_count_encoded.csv')

In [104]:
df_feq_encode = pd.concat (
    [constant_cols, count_encoded], 
    axis= 1
)

In [107]:
# feq_encode_one_hot = pd.get_dummies(df_feq_encode['software_ID'], dtype=int)
feq_encode_one_hot = pd.get_dummies(count_encoded['software_ID'], dtype=int)

In [108]:
feq_encode_one_hot

,0.001188,0.002375,0.003563,0.004751,0.005938,0.007126,0.008314,0.009501,0.010689,0.011876,0.014252,0.015439,0.016627,0.024941,0.032067,0.034442,0.048694
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
838,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
839,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
840,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
841,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [84]:
df_feq_encode_one_hot = pd.concat(
    [constant_cols, feq_encode_one_hot], axis= 1
)

In [85]:

df_feq_encode_one_hot = df_feq_encode_one_hot.groupby('group_ID').max()

In [86]:
df_feq_encode_one_hot

,0.0011876484560570072,0.0023752969121140144,0.0035629453681710215,0.004750593824228029,0.0059382422802850355,0.007125890736342043,0.00831353919239905,0.009501187648456057,0.010688836104513063,0.011876484560570071,0.014251781472684086,0.015439429928741092,0.0166270783847981,0.02494061757719715,0.032066508313539195,0.0344418052256532,0.048693586698337295
group_ID,,,,,,,,,,,,,,,,,
G0001,1,1,1,1,0,0,0,0,1,0,1,1,0,0,0,0,0
G0002,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
G0003,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
G0004,1,0,0,0,0,0,0,1,1,1,1,0,0,0,1,0,1
G0005,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
G1009,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
G1011,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
G1012,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
G1013,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
G1014,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0

In [87]:
res = feq_encode_one_hot.multiply (feq_encode_one_hot.columns, axis= 1)

In [88]:
df_feq_encode_n_hot = pd.concat(
    [constant_cols, res], axis= 1
)

In [89]:
res_df_feq_encode_n_hot = df_feq_encode_n_hot.groupby('group_ID').max().reset_index()

In [90]:
res_df_feq_encode_n_hot

,group_ID,0.0011876484560570072,0.0023752969121140144,0.0035629453681710215,0.004750593824228029,0.0059382422802850355,0.007125890736342043,0.00831353919239905,0.009501187648456057,0.010688836104513063,0.011876484560570071,0.014251781472684086,0.015439429928741092,0.0166270783847981,0.02494061757719715,0.032066508313539195,0.0344418052256532,0.048693586698337295
0,G0001,0.001188,0.002375,0.003563,0.004751,0.0,0.0,0.0,0.000000,0.010689,0.000000,0.014252,0.015439,0.0,0.000000,0.000000,0.000000,0.000000
1,G0002,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.015439,0.0,0.000000,0.000000,0.000000,0.000000
2,G0003,0.001188,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.034442,0.048694
3,G0004,0.001188,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.009501,0.010689,0.011876,0.014252,0.000000,0.0,0.000000,0.032067,0.000000,0.048694
4,G0005,0.001188,0.002375,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,G1009,0.001188,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.034442,0.000000
132,G1011,0.001188,0.002375,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
133,G1012,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.014252,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
134,G1013,0.001188,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
135,G1014,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.014252,0.000000,0.0,0.024941,0.000000,0.000000,0.000000

In [91]:

type(df_feq_encode_one_hot.columns[2])

float

In [92]:
import pandas as pd

data_A = {
    3: [1, 0, 1, 1, 0],
    5: [0, 0, 1, 0, 1],
    7: [1, 1, 0, 0, 1]
}

df = pd.DataFrame(data_A)

# Multiply each column by itself to replace '1' values with their corresponding column values
result = df.multiply(df.columns, axis=1)

print(result)

   3  5  7
0  3  0  7
1  0  0  7
2  3  5  0
3  3  0  0
4  0  5  7

In [93]:
col_vals = df.columns
list(col_vals)

[3, 5, 7]

In [94]:
df.apply(lambda x: x)

   3  5  7
0  1  0  1
1  0  0  1
2  1  1  0
3  1  0  0
4  0  1  1

In [95]:
df.apply(lambda x: len(str(x)))

3    56
5    56
7    56
dtype: int64

In [96]:
df

   3  5  7
0  1  0  1
1  0  0  1
2  1  1  0
3  1  0  0
4  0  1  1

In [97]:
df

   3  5  7
0  1  0  1
1  0  0  1
2  1  1  0
3  1  0  0
4  0  1  1

In [98]:
import pandas as pd

# Example DataFrame with multi-label categorical column 'categories'
data = {'categories': [['A', 'B'], ['A'], ['B', 'C'], ['A', 'C'], ['B']]}

df = pd.DataFrame(data)

# Flatten the list of categories in the 'categories' column
categories_flat = [category for categories_list in df['categories'] for category in categories_list]

# Calculate the frequency of each category
category_counts = pd.Series(categories_flat).value_counts()

# Create a mapping dictionary from category to frequency
category_freq_mapping = category_counts.to_dict()

# Encode the 'categories' column with the sum of frequencies for each instance
df['categories_encoded'] = df['categories'].apply(lambda categories: sum(category_freq_mapping.get(category, 0) for category in categories))

# Now, 'df' contains the frequency-encoded values in the 'categories_encoded' column
print(df)

  categories  categories_encoded
0     [A, B]                   6
1        [A]                   3
2     [B, C]                   5
3     [A, C]                   5
4        [B]                   3