In [21]:
import pandas as pd

# Frequency Encoding

In [22]:
import category_encoders as ce

In [23]:
df = pd.read_csv('../data/interim/X_group_cleaned.csv')

In [24]:
df.info()
constant_cols = df['group_ID']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   group_ID     842 non-null    object
 1   software_ID  830 non-null    object
dtypes: object(2)
memory usage: 13.3+ KB

In [25]:
count_enc = ce.CountEncoder(normalize=True)
count_encoded = count_enc.fit_transform(df['software_ID'], return_df = True)
count_encoded.to_csv ('tmp_count_encoded.csv')

In [26]:
df_feq_encode = pd.concat (
    [constant_cols, count_encoded], 
    axis= 1
)

In [27]:
# feq_encode_one_hot = pd.get_dummies(df_feq_encode['software_ID'], dtype=int)
feq_encode_one_hot = pd.get_dummies(count_encoded['software_ID'], dtype=int)

In [28]:
feq_encode_one_hot

,0.001188,0.002375,0.003563,0.004751,0.005938,0.007126,0.008314,0.009501,0.010689,0.011876,0.014252,0.015439,0.016627,0.024941,0.032067,0.034442,0.048694
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
838,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
839,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
840,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
841,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [29]:
df_feq_encode_one_hot = pd.concat(
    [constant_cols, feq_encode_one_hot], axis= 1
)

In [30]:

df_feq_encode_one_hot = df_feq_encode_one_hot.groupby('group_ID').max()

In [31]:
df_feq_encode_one_hot

,0.0011876484560570072,0.0023752969121140144,0.0035629453681710215,0.004750593824228029,0.0059382422802850355,0.007125890736342043,0.00831353919239905,0.009501187648456057,0.010688836104513063,0.011876484560570071,0.014251781472684086,0.015439429928741092,0.0166270783847981,0.02494061757719715,0.032066508313539195,0.0344418052256532,0.048693586698337295
group_ID,,,,,,,,,,,,,,,,,
G0001,1,1,1,1,0,0,0,0,1,0,1,1,0,0,0,0,0
G0002,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
G0003,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
G0004,1,0,0,0,0,0,0,1,1,1,1,0,0,0,1,0,1
G0005,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
G1009,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
G1011,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
G1012,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
G1013,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
G1014,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0

In [32]:
res = feq_encode_one_hot.multiply (feq_encode_one_hot.columns, axis= 1)

In [33]:
df_feq_encode_n_hot = pd.concat(
    [constant_cols, res], axis= 1
)

In [34]:
res_df_feq_encode_n_hot = df_feq_encode_n_hot.groupby('group_ID').max().reset_index()

In [35]:
res_df_feq_encode_n_hot

,group_ID,0.0011876484560570072,0.0023752969121140144,0.0035629453681710215,0.004750593824228029,0.0059382422802850355,0.007125890736342043,0.00831353919239905,0.009501187648456057,0.010688836104513063,0.011876484560570071,0.014251781472684086,0.015439429928741092,0.0166270783847981,0.02494061757719715,0.032066508313539195,0.0344418052256532,0.048693586698337295
0,G0001,0.001188,0.002375,0.003563,0.004751,0.0,0.0,0.0,0.000000,0.010689,0.000000,0.014252,0.015439,0.0,0.000000,0.000000,0.000000,0.000000
1,G0002,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.015439,0.0,0.000000,0.000000,0.000000,0.000000
2,G0003,0.001188,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.034442,0.048694
3,G0004,0.001188,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.009501,0.010689,0.011876,0.014252,0.000000,0.0,0.000000,0.032067,0.000000,0.048694
4,G0005,0.001188,0.002375,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,G1009,0.001188,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.034442,0.000000
132,G1011,0.001188,0.002375,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
133,G1012,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.014252,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
134,G1013,0.001188,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
135,G1014,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.014252,0.000000,0.0,0.024941,0.000000,0.000000,0.000000

## Multi-valued string

In [36]:
technique_df = pd.read_csv ('../data/interim/X_technique_selected_features.csv')

In [37]:
features = technique_df['platforms'].str.replace(r',\s*',',', regex = True).str.lower().str.replace (r'[-/]', ' ', regex = True)

In [38]:
technique_df['platforms'] = features

In [39]:
technique_df

,technique_ID,platforms,data_sources,mitigation_ID,software_ID
0,T1548,"linux,windows,macos","Command: Command Execution, File: File Metadat...",M1047,NaN
1,T1548,"linux,windows,macos","Command: Command Execution, File: File Metadat...",M1047,NaN
2,T1548,"linux,windows,macos","Command: Command Execution, File: File Metadat...",M1047,NaN
3,T1548,"linux,windows,macos","Command: Command Execution, File: File Metadat...",M1047,NaN
4,T1548,"linux,windows,macos","Command: Command Execution, File: File Metadat...",M1047,NaN
...,...,...,...,...,...
63029,T1047,windows,"Command: Command Execution, Network Traffic: N...",M1018,S0366
63030,T1047,windows,"Command: Command Execution, Network Traffic: N...",M1018,S0251
63031,T1047,windows,"Command: Command Execution, Network Traffic: N...",M1018,S0283
63032,T1220,windows,"Module: Module Load, Process: Process Creation",M1038,S0373
63033,T1220,windows,"Module: Module Load, Process: Process Creation",M1038,S0373

In [40]:
technique_df['platforms'] = technique_df['platforms'].str.split(',')

In [41]:
technique_df

,technique_ID,platforms,data_sources,mitigation_ID,software_ID
0,T1548,"[linux, windows, macos]","Command: Command Execution, File: File Metadat...",M1047,NaN
1,T1548,"[linux, windows, macos]","Command: Command Execution, File: File Metadat...",M1047,NaN
2,T1548,"[linux, windows, macos]","Command: Command Execution, File: File Metadat...",M1047,NaN
3,T1548,"[linux, windows, macos]","Command: Command Execution, File: File Metadat...",M1047,NaN
4,T1548,"[linux, windows, macos]","Command: Command Execution, File: File Metadat...",M1047,NaN
...,...,...,...,...,...
63029,T1047,[windows],"Command: Command Execution, Network Traffic: N...",M1018,S0366
63030,T1047,[windows],"Command: Command Execution, Network Traffic: N...",M1018,S0251
63031,T1047,[windows],"Command: Command Execution, Network Traffic: N...",M1018,S0283
63032,T1220,[windows],"Module: Module Load, Process: Process Creation",M1038,S0373
63033,T1220,[windows],"Module: Module Load, Process: Process Creation",M1038,S0373

In [211]:
technique_platforms = technique_df[['technique_ID', 'platforms']]

In [212]:
technique_platforms

      technique_ID                platforms
0            T1548  [linux, windows, macos]
1            T1548  [linux, windows, macos]
2            T1548  [linux, windows, macos]
3            T1548  [linux, windows, macos]
4            T1548  [linux, windows, macos]
...            ...                      ...
63029        T1047                [windows]
63030        T1047                [windows]
63031        T1047                [windows]
63032        T1220                [windows]
63033        T1220                [windows]

[63034 rows x 2 columns]

In [213]:
technique_platforms_explode = technique_platforms.explode('platforms')

In [218]:
technique_platforms_explode['platforms'].value_counts()

platforms
windows             61446
macos               43222
linux               43101
network             11597
iaas                 7716
containers           6249
office 365           4258
google workspace     3903
saas                 2828
azure ad             2340
pre                   145
Name: count, dtype: int64

In [215]:
count_enc = ce.CountEncoder(normalize=True)
count_encoded = count_enc.fit_transform(technique_platforms_explode['platforms'], return_df = True)

In [221]:
count_encoded_oh = pd.get_dummies(count_encoded['platforms'], dtype = float)

In [223]:
count_encoded_oh = count_encoded_oh.groupby(level=0).max()

In [227]:
count_encoded_oh

,0.000776,0.012526,0.015139,0.020893,0.022794,0.033452,0.041305,0.062081,0.230727,0.231375,0.328931
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
63029,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
63030,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
63031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
63032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
63033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [225]:
count_encoded_oh_true_val = count_encoded_oh.multiply(count_encoded_oh.columns, axis = 1)

In [226]:
count_encoded_oh_true_val

,0.000776,0.012526,0.015139,0.020893,0.022794,0.033452,0.041305,0.062081,0.230727,0.231375,0.328931
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.230727,0.231375,0.328931
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.230727,0.231375,0.328931
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.230727,0.231375,0.328931
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.230727,0.231375,0.328931
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.230727,0.231375,0.328931
...,...,...,...,...,...,...,...,...,...,...,...
63029,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.328931
63030,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.328931
63031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.328931
63032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.328931
63033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.328931