In [7]:
import pandas as pd
import numpy as np
from tensorflow.keras.preprocessing.sequence import pad_sequences

# Sample multi-label data (replace with your own data)
data = {'Example_ID': [1, 2, 3, 4, 5],
        'Hobbies': [['Soccer', 'Piano'], ['Reading', 'Cooking'], ['Soccer'], ['Reading'], ['Piano', 'Cooking']]}
df = pd.DataFrame(data)

# Calculate label frequencies
label_frequencies = {}
for labels in df['Hobbies']:
    for label in labels:
        if label in label_frequencies:
            label_frequencies[label] += 1
        else:
            label_frequencies[label] = 1

# Create a mapping
label_frequency_mapping = label_frequencies

# Apply Frequency Encoding
df['Hobbies_FrequencyEncoded'] = df['Hobbies'].apply(lambda x: [label_frequency_mapping[label] for label in x])

# Determine the maximum sequence length
max_sequence_length = max(df['Hobbies_FrequencyEncoded'].apply(len))

# Pad sequences to a consistent length
df['Hobbies_FrequencyEncoded_Padded'] = df['Hobbies_FrequencyEncoded'].apply(
    lambda x: pad_sequences([x], maxlen=max_sequence_length, padding='post')[0])

# The resulting DataFrame now contains a new column 'Hobbies_FrequencyEncoded_Padded'
print(df)

   Example_ID             Hobbies Hobbies_FrequencyEncoded  \
0           1     [Soccer, Piano]                   [2, 2]
1           2  [Reading, Cooking]                   [2, 2]
2           3            [Soccer]                      [2]
3           4           [Reading]                      [2]
4           5    [Piano, Cooking]                   [2, 2]

  Hobbies_FrequencyEncoded_Padded
0                          [2, 2]
1                          [2, 2]
2                          [2, 0]
3                          [2, 0]
4                          [2, 2]

In [5]:
df

  Category    Description
0  Class A  Description A
1  Class B  Description B
2  Class A  Description A
3  Class C  Description C
4  Class B  Description B
5  Class A  Description A
6  Class C  Description C
7  Class C  Description C